@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text{
  background: linear-gradient(to top, #1B85E0, #1AE8F5, #FDFFF0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.levelOne{
  background: linear-gradient(to bottom, #1B85E0, #10a4ad, #48e7f0);
  margin-top: -90px;
}

body {
  font-family: "Bowlby One";
  font-weight: 400;
  font-style: normal;
}


.alike-angular-regular {
  font-family: "Alike Angular";
  font-weight: 400;
  font-style: normal;
}

.adlam-display-regular {
  font-family: "ADLaM Display";
  font-weight: 400;
  font-style: normal;
}

.agbalumo-regular {
  font-family: "Agbalumo";
  font-weight: 400;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
