@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bowlby One";
  font-weight: 400;
  font-style: normal;
}


.alike-angular-regular {
  font-family: "Alike Angular";
  font-weight: 400;
  font-style: normal;
}

.adlam-display-regular {
  font-family: "ADLaM Display";
  font-weight: 400;
  font-style: normal;
}

.agbalumo-regular {
  font-family: "Agbalumo";
  font-weight: 400;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}
